h1{
    background-color: black;
    color: goldenrod;

}
p{
    background-color: goldenrod;
    color: black;
}
div{
    background-color: rgb(75, 61, 43);
    margin: 10px;
    box-shadow: 10px 10px 20px rgb(75, 61, 43);
}